header {
    .desktop-nav {
        @include flex(row, space-between, center, nowrap, null);
        padding: 20px 0;

        @media (max-width: 1000px) {
            display: none;
        }

        .navbar {
            .logo {
                @include flex(row, center, center, nowrap, null);

                img {
                    max-width: 190px;
                }
            }

            .navlist {
                @include flex(row, flex-start, center, nowrap, null);

                ul {
                    @include flex(row, flex-start, center, nowrap, 30px);

                    li {
                        font-size: map-get($font-size, font-xs);
                    }
                }
            }

            .profile {
                @include flex(row, flex-end, center, nowrap, 30px);
                font-size: map-get($font-size, font-md);
            }
        }
    }

    .mobile-nav {
        display: none;

        @media (max-width: 1000px) {
            display: block;
            padding: 20px 5px;
        }

        .navbar-mob {
            @include flex(row, space-between, center, nowrap, null);

            .navlist-mob {
                @include flex(row, flex-start, center, nowrap, null);
                font-size: map-get($font-size, font-md-2);
            }

            .logo-mob {
                @include flex(row, center, center, nowrap, null);

                img {
                    width: 190px;
                }
            }

            .profile-mob {
                @include flex(row, flex-end, center, nowrap, 5px);
                font-size: map-get($font-size, font-md-2);
            }
        }
    }
}